@import 'reset';


body {
	background: url('../img/bcg.jpg') no-repeat center center fixed;
	background-size: 100%;
}

.to_do {
	width: 490px;
	height: 600px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.cardboard {
	position: absolute;
	height: 580px;
	width: 490px;
	z-index: 1;
}

.hinges {
	position: absolute;
	z-index: 3;
	width: 462px;
	top: -5px;
	left: 15px;
}

.input_group {
	position: absolute;
	width: 460px;
	height: 440px;
	margin: auto;
	top: 35px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	overflow: hidden;
}

.head {
	position: relative;
	overflow: hidden;
	width: 462px;
	margin-top: -2px;
}

.name {
	height: 55px;
	background: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 35px;
	width: 420px;
	float: left;
	border: 1px solid #ededed;
	border-right: none;
}

.tooltip {
	position: fixed;
	top: 0;
	z-index: 5;
}

.add_btn {
	float: left;
	position: absolute;
	height: 61px;
	background: #fff;
	width: 41px;
	line-height: 65px;
	border: 1px solid #ededed;
	border-left: none;
	&::after {
		content: '\02795';
		cursor: pointer;
		color: #c8cace;		
	}
}

.list {
	list-style: none;
	position: relative;
}

.list_item {
	margin-top: -2px;
	display: block;
	border: 1px solid #ededed;
	height: 55px;
	width: 460px;
	background-color: #FFF;
	position: relative;
}

.list_input {
	height: 52px;
	width: 355px;
	border: none;
	float: right;
	border-left: 2px solid #f2e3df;
	padding-left: 35px;
	line-height: 40px;
	font-size: 25px;
	outline:none;
	color: #68798b;

	&--active {
		text-decoration: line-through;
	}
}

.list_chekbox {
	margin: 0;
	margin-left: 30px;
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

.delete-btn {
	display:block;
	position: absolute;
	z-index: 3;
	width: 20px;
	height: 20px;
	cursor: pointer;
	right: 20px;
	top: 17px;
	background: url('../img/delete-btn.png') 0 0 no-repeat;
	background-size: 100%;
	display:none;

	&--active {
		display:block;
	}
}

.checkbox-wrapper {
	float: left;
	height: 54px;
	width: 58px;
	line-height: 58px;
	border-right: 2px solid #f2e3df;
}

.custom-checkbox {
	display: block;
	width: 28px;
	height: 28px;
	margin: auto;
	margin-top: 12px;
	cursor: pointer;
	background-image: url('../img/checkbox.png');
	background-size: 200%;
	background-repeat: no-repeat;

	&--active {
		background-position: -31px 0;
	}
}