<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/app.css">
	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
	<script src="js/app.min.js"></script>
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="css/app.ie8.css">
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div>
		<header class = "header">
			<div class="header_container">
				<div class="header_buttons">
					<button class = "header_button header_button--transparent">Log In</button>
					<button class = "header_button">Sign Up</button>
				</div>
				<h2 class = "header_logo">URLAUBSGLÜCK</h2>
				<div class="header_content">
					<h1 class = "header_content-tagline">Share your holiday dreams</h1>
					<p class = "header_content-text">And find the perfect partner to fullfill it</p>
					<button class = "header_button header_button--red">Find your holiday partner</button>
				</div>
			</div>
		</header>
		<div class="wrapper">
			<div class="work">
				<h3 class = "work_head">How Urlaubsglück works?</h3>
				<div class="work_sliders">
					<div class="work_slider" id = "slider-1">
						<ul class = "work_slider_list slides">
							<li class = "work_slider_item">
								<div class="work_slider_image-wrapper">
									<img src="img/work-1_m.jpg" alt="" class = "work_slider_image work_slider_image--mobile">
									<img src="img/work-1_t.jpg" alt="" class = "work_slider_image work_slider_image--tablet">
									<img src="img/work-1_d.jpg" alt="" class = "work_slider_image work_slider_image--desktop">	
								</div>									
								<div class="work_slider_content">
									<button class = "work_slider_button">Step 1</button>
									<h3 class = "work_slider_head">Sed leo enim, condimentum</h3>
									<p class = "work_slider_text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>	
								</div>

							</li>
							<li class = "work_slider_item">
								<div class="work_slider_image-wrapper">
									<img src="img/work-2_m.jpg" alt="" class = "work_slider_image work_slider_image--mobile">
									<img src="img/work-2_t.jpg" alt="" class = "work_slider_image work_slider_image--tablet">
									<img src="img/work-2_d.jpg" alt="" class = "work_slider_image work_slider_image--desktop">	
								</div>	
								<div class="work_slider_content work_slider_content--top">
									<button class = "work_slider_button">Step 2</button>									
									<h3 class = "work_slider_head">Morbi velit risus</h3>
									<p class = "work_slider_text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>	
								</div>
							</li>
							<li class = "work_slider_item">
								<div class="work_slider_image-wrapper">
									<img src="img/work-3_m.jpg" alt="" class = "work_slider_image work_slider_image--mobile">
									<img src="img/work-3_t.jpg" alt="" class = "work_slider_image work_slider_image--tablet">
									<img src="img/work-3_d.jpg" alt="" class = "work_slider_image work_slider_image--desktop">	
								</div>	
								<div class="work_slider_content">
									<button class = "work_slider_button">Step 3</button>
									<h3 class = "work_slider_head">Sed leo enim, condimentum</h3>
									<p class = "work_slider_text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>	
								</div>
							</li>
						</ul>
					</div>
					
					<div class="work_slider" id = "slider-2">
						<ul class = "work_slider_list slides">
							<li class = "work_slider_item">
								<div class="work_slider_image-wrapper">
									<img src="img/work-2_m.jpg" alt="" class = "work_slider_image work_slider_image--mobile">
									<img src="img/work-2_t.jpg" alt="" class = "work_slider_image work_slider_image--tablet">
									<img src="img/work-2_d.jpg" alt="" class = "work_slider_image work_slider_image--desktop">	
								</div>	
								<div class="work_slider_content work_slider_content--top">
									<button class = "work_slider_button">Step 2</button>									
									<h3 class = "work_slider_head">Morbi velit risus</h3>
									<p class = "work_slider_text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>	
								</div>
							</li>
							<li class = "work_slider_item">
								<div class="work_slider_image-wrapper">
									<img src="img/work-3_m.jpg" alt="" class = "work_slider_image work_slider_image--mobile">
									<img src="img/work-3_t.jpg" alt="" class = "work_slider_image work_slider_image--tablet">
									<img src="img/work-3_d.jpg" alt="" class = "work_slider_image work_slider_image--desktop">	
								</div>	
								<div class="work_slider_content">
									<button class = "work_slider_button">Step 3</button>
									<h3 class = "work_slider_head">Sed leo enim, condimentum</h3>
									<p class = "work_slider_text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>	
								</div>
							</li>
							<li class = "work_slider_item">
								<div class="work_slider_image-wrapper">
									<img src="img/work-1_m.jpg" alt="" class = "work_slider_image work_slider_image--mobile">
									<img src="img/work-1_t.jpg" alt="" class = "work_slider_image work_slider_image--tablet">
									<img src="img/work-1_d.jpg" alt="" class = "work_slider_image work_slider_image--desktop">	
								</div>									
								<div class="work_slider_content">
									<button class = "work_slider_button">Step 1</button>
									<h3 class = "work_slider_head">Sed leo enim, condimentum</h3>
									<p class = "work_slider_text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>	
								</div>

							</li>
						</ul>
					</div>

					<div class="work_slider" id = "slider-3">
						<ul class = "work_slider_list slides">
							<li class = "work_slider_item">
								<div class="work_slider_image-wrapper">
									<img src="img/work-3_m.jpg" alt="" class = "work_slider_image work_slider_image--mobile">
									<img src="img/work-3_t.jpg" alt="" class = "work_slider_image work_slider_image--tablet">
									<img src="img/work-3_d.jpg" alt="" class = "work_slider_image work_slider_image--desktop">	
								</div>	
								<div class="work_slider_content">
									<button class = "work_slider_button">Step 3</button>
									<h3 class = "work_slider_head">Sed leo enim, condimentum</h3>
									<p class = "work_slider_text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>	
								</div>
							</li>
							<li class = "work_slider_item">
								<div class="work_slider_image-wrapper">
									<img src="img/work-1_m.jpg" alt="" class = "work_slider_image work_slider_image--mobile">
									<img src="img/work-1_t.jpg" alt="" class = "work_slider_image work_slider_image--tablet">
									<img src="img/work-1_d.jpg" alt="" class = "work_slider_image work_slider_image--desktop">	
								</div>									
								<div class="work_slider_content">
									<button class = "work_slider_button">Step 1</button>
									<h3 class = "work_slider_head">Sed leo enim, condimentum</h3>
									<p class = "work_slider_text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>	
								</div>

							</li>
							<li class = "work_slider_item">
								<div class="work_slider_image-wrapper">
									<img src="img/work-2_m.jpg" alt="" class = "work_slider_image work_slider_image--mobile">
									<img src="img/work-2_t.jpg" alt="" class = "work_slider_image work_slider_image--tablet">
									<img src="img/work-2_d.jpg" alt="" class = "work_slider_image work_slider_image--desktop">	
								</div>	
								<div class="work_slider_content work_slider_content--top">
									<button class = "work_slider_button">Step 2</button>						
									<h3 class = "work_slider_head">Morbi velit risus</h3>
									<p class = "work_slider_text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>	
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="partners">
				<h3 class = "partners_head">Meet a partner for your best holiday</h3>
				<ul class = "partners_list">
					<li class = "partners_item partners_item--right">
						<div class = "partners_img"><img src="img/partners-1.png" alt="" class = "partners_photo"><span class = "partners_icon partners_icon--tv"></span></div>
						<h4 class = "partners_name">Bradley Hunter</h4><p class = "partners_text">Based in Chicago. I love playing tennis and loud music.</p>
					</li>
					<li class = "partners_item">
						<div class = "partners_img"><img src="img/partners-2.png" alt="" class = "partners_photo"><span class = "partners_icon partners_icon--tea"></span></div>
						<h4 class = "partners_name">Heather Walker</h4><p class = "partners_text">I'm a happy person that loves cats and climbing on mountains.</p>
					</li>
					<li class = "partners_item partners_item--right">
						<div class = "partners_img"><img src="img/partners-3.png" alt="" class = "partners_photo"><span class = "partners_icon partners_icon--chem"></span></div>
						<h4 class = "partners_name">Lucas Marsha</h4><p class = "partners_text">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
					</li>
					<li class = "partners_item">
						<div class = "partners_img"><img src="img/partners-4.png" alt="" class = "partners_photo"><span class = "partners_icon partners_icon--telegram"></span></div>
						<h4 class = "partners_name">Bradley Hunter</h4><p class = "partners_text">Based in Chicago. I love playing tennis and loud music.</p>
					</li>
				</ul>
				<button class = "partners_button">See other partners</button>
			</div>
			<div class="holidays">
				<h3 class = "holidays_head">Discover holiday activity ideas</h3>
				<div class="holidays_grid clearfix">
				</div>
				<h3 class = "holidays_head">Discover holiday activity ideas</h3>
				<p class = "holidays_text">Hi! What are your holiday interests?</p>
				<form action="#">
					<input class = "holidays_input" type="text" name="" id="" placeholder="Enter your interests">
					<button class = "holidays_button">Search partners</button>
				</form>
			</div>
		</div>
		<footer class="footer">
			<h1 class = "footer_head">URLAUBSGLÜCK</h1>
			<div class="footer_company">
				<h4 class="footer_sub-header">Company</h4>
				<ul class="footer_list">
					<li class = "footer_list-item"><a href="#" class = "footer_list-link">About</a></li>
					<li class = "footer_list-item"><a href="#" class = "footer_list-link">Contacts</a></li>
					<li class = "footer_list-item"><a href="#" class = "footer_list-link">Press</a></li>
					<li class = "footer_list-item"><a href="#" class = "footer_list-link">Blog</a></li>
				</ul>
			</div>
			<h4 class = "footer_partners">Partners</h4>
			<div class="footer_logo">
				<span class = "footer_design">Design By</span>
				<img src="img/design.png" alt="#" class = "footer_image">
			</div>
		</footer>

	</div>

	<script type="text/template" id="image_tmpl">
		<% for (var i = 0; i < data[0].length; i++) { %>

			<% if (i === 4 || i === 5) { %>
   		 		<div class="holidays_item holidays_item--lg" style = "background-image: url('<%=data[0][i]%>')">
   		 		<h3><%=  data[1][0]  %></h3>
   		 		</div>
			<% } else {%>
				<div class="holidays_item" style = "background-image: url('<%=data[0][i]%>')">
					<h3><%= data[1][0] %></h3>
				</div>
			<% }; %>
		<% }; %>
	</script>
</body>
</html>