$menu-font: 		'ubuntu-condensed';
$header-font: 		'ubuntu-medium';
$text-font: 		'Arial';

$main-text-color: 	#8a8a8a;
$active-text-color: 	#248cec;
$sub-text-color:	#fff;
$accent-color: 	#f4b60d;

$main-bcg-color:	#2a2d32;
$sub-bcg-color:	#f7f7f7;
$footer-bcg-color:	#35383c;

$content-width:	1160px;