.top-bar {
	height: 855px;
}
/*=======HEADER======*/
.header {
	width: 960px;
	overflow: hidden;
}
.header__logo {
	float:left;
}
.header__navigate {
	float:right;
	margin-bottom: 105px;
}
.inline-menu {
	margin-top:-10px;
	width: auto;
}
.inline-menu__item:nth-child(4) {
	padding-right: 52px;
}
.inline-menu__item {
	padding-right:52px;
}

/*========SLIDER=======*/
.slider {
	width: 960px;
}
.slider__text {
	margin-left:1px;
	margin-top:75px;
	padding:0px;
}
.slider__head {
	font-size: 60px;
	margin-bottom: 0px;
}
.slider__discription {
	font-size: 32px;
	letter-spacing: 1px;
}
.slider__body {
	margin-top: 2px;
	font-size: 18px;
	width: 420px;
	overflow: visible;
}
.slider__img {
	height: 450px;
	right: 70px;
	top:-20px;
}
.slider__photo {
	height: 415px;
	width: 198px;
	background: url('../img/IPhone-4.png');
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 0px;
}
.slider__photo--blur {
	width: 80px;
	height: 270px;
	margin-top:80px;
	margin-right: -5px;
	background: url('../img/IPhone-4_blur.png') no-repeat;
	background-size: cover;
}
.slider__play-circle {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	border:3px solid #cccccc;
	position: absolute;
	left:59px;
	top:148px;
	cursor: pointer;
}
.slider__play-circle2 {
	height: 61px;
	width: 61px;
	border-radius: 50%;
	border:7px solid #46324f;
}
.slider__play-circle3 {
	height: 57px;
	width: 57px;
	border-radius: 50%;
	border:2px solid #cccccc;
}
.slider__play-circle4 {
	height: 53px;
	width: 53px;
	border-radius: 50%;
	border:2px solid white;
	background-color: rgba(203,165,218,0.7);
	background-image: url('../img/play_arrow.png');
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: 16px 10px;
}
.slider__controls {
	text-align: right;
	width: 475px;
	margin-top:15px;
}
.slider__arrow {
	position: absolute;
}
.slider__arrow--left {
	top:0px;
	left:-320px;
}
.slider__arrow--right {
	top:0px;
	right:-320px;
}
.slider__controls {
	margin-top:72px;
	width: 620px;
}
/*===========CONTENT============*/
.text-container {
	width: 960px;
	overflow: hidden;
}
.text__block {
	width: 320px;
	margin-left:0px;
}
.text__block:nth-child(2) {
	margin-left: 0px;
}
.text__block:last-child {
	margin-left:0px;
}
.text__header {
	font-size:30px;
	margin-top:-2px;
	margin-bottom:10px;
	background-position: 9px 5px;
}
.text__header--2 {
	background-position: -12px -26px;
	padding-left:82px;
}
.text__header--3 {
	padding-left:100px;
	margin-top:-5px;
	background-position: -28px -61px;
}
.text__body {
	font-size: 16px;
	height: 120px;
	overflow: hidden;
	margin-left:-1px;
}
.text__body--2 {
	padding-left:82px;
}
.text__body--3 {
	padding-left: 100px;
}
.text__link {
	font-size:18px;
	margin-top: 20px;
	margin-right:43px;
}
.text__link--2 {
	margin-right: 18px;
}
.text__link--3 {
	margin-right: 0px;
}
/*================REVIEWS=============*/
.reviews-wrapper {
	width: 960px;
}
.pingbuller-wrapper {
	width: 450px;
}
.pingbuller {
	margin-right: 2px;
	margin-top:2px;
	width: 425px;
}
.pingbuller__head {
	font-size: 30px;
	margin-top:3px;
}
.pingbuller__head--pink {
	display: inline;
}
.last-update {
	margin-top:95px;
	margin-left:20px;
	width: 435px;
}
.update__link {
	margin-top:6px;
	margin-right: 6px;
}
.for-960 {
	display: inline;
}
.for-320 {
	display: none;
}
.slider__controls--white {
	margin-left:41px;
	padding-top:22px;
}
/*========PARTNERS========*/
.partners {
	width: 960px;
}
.partners__item {
	width: 160px;
}
.partners__item--1 {
	background-position: 92px 0px;
}
.partners__item--2 {
	background-position: 67px -69px;
}
.partners__item--3 {
	background-position: 42px -140px;
}
.partners__item--4 {
	background-position: 23px -207px;
	width: 100px;
}
.partners__item--5 {
	background-position: 42px -275px;
	height: 24px;
	width: 145px;
}
.partners__item--6 {
	margin-top:1px;
	background-position: 64px -299px;
	width: 140px;
}
/*===========NEWS=============*/
.news-container {
	width: 968px;
}
.news__item {
	width: 280px;
	margin-left:2px;
	margin-top:11px;
	margin-right: 58px;
}
.news__item--3 {
	margin-right: 0px;
}
.news__header {
	font-size: 30px;
}
.news__header--big {
	font-size: 48px;
	letter-spacing: -3px;
	margin-bottom: 13px;
}
.news__header--grey {
	color:#b9b9b9;
}
.news__discription {
	font-family: Georgia;
	font-style: italic;
	color:#c5c5c5;
	font-size: 16px;
}
.news__body {
	margin-top: 10px;
}
/*===========FOOTER===========*/
.footer-container {
	height: 72px;
}
.footer-menu-wrapper {
	width: 960px;
	margin:auto;
}
.footer__inline-menu {
	margin:0;
	margin-top:3px;
}
.footer__menu-item {
	padding-right:43px;
}
.footer__menu-item:nth-child(4) {
	padding-right: 43px;
}
.footer__content {
	width: 960px;
	margin:auto;
}
.footer__text {
	margin-top:10px;
	margin-right: 0px;
}