html, body {
	height: 100%;
}
body {
	font-family: HelveticanNeue;
	background-color: #f6f6f7;
	background:url(../img/bcg.jpg) no-repeat center center;
	background-size: cover;
}
img {
	display: none
}
.wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}
.clearfix:after {
	content:'';
	display: block;
	width: 100%;
	clear:both;
}
/*====HEADER=====*/
.menu {
	width:100%;
	float:right;
	background-color: #085495;
	text-align: right;
}
.menu li {
	display:inline-block;
}
.menu a {
	display: block;
	padding: 10px 15px;
	color:#60b5ed;
	text-decoration: none;
}
.menu span {
	text-decoration: underline;
}
.menu li:nth-child(6) a {
	border-left:1px solid #56a2dc;
	background: url(../img/flag.png) 10px no-repeat;
	padding-left:40px;
	padding-right:10px;
}
.menu li:nth-child(6) a,
.menu li:last-child a {
	color:white;
}
.menu a:hover {
	background-color: #4eabda;
	color:white;
}
.menu li:nth-child(6):hover,
.menu li:nth-child(7):hover {
	background: linear-gradient(to bottom, rgba(33,180,226,1) 0%, rgba(78,172,218,1) 0%, rgba(46,122,196,1) 99%, rgba(183,222,237,1) 100%);
 	box-shadow: inset #4b9dd6 1px 1px;
	}
/*=====CONTAINER====*/
.container {
	width: 560px;
	height: 610px;
	position: absolute;
	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	margin:auto;
  	color:white;
  	text-align: center;
}
.container h1 {
	width: 100%;
	line-height: 60px;
	font-size:24px;
	vertical-align: middle;
	background-color: rgba(0,0,0,0.5);
}
.section {
	margin-top:2px;
	background-color: rgba(0,0,0,0.5);
	height: 520px;
	padding:30px 130px;
}
.section button {
	width: 300px;
	line-height: 34px;
	background: linear-gradient(to bottom, rgba(60,85,152,1) 0%, rgba(59,87,152,1) 13%, rgba(45,64,120,1) 90%, rgba(45,64,120,1) 100%);
	border:1px solid #2d4078;
	border-radius: 8px 8px;
	margin-bottom: 25px;
	border-top:1px solid #7588b3;
	cursor: pointer;
	font-size:14px;
	color:white;
	font-size:17px;
}
.section button .arrow {
	padding-left:10px;
	font-size:14px;
	vertical-align: top;
	font-weight: bold;
}
.section .favicon {
	float:left;
	width: 25px;
	height: 35px;
	margin-left:5px;
	padding-right:5px;
	background: url(../img/facebook.png) 0px 4px no-repeat;
	border-right:1px solid #213c71;
	background-size: 90%;
}
.section .bold-text {
	font-weight: bold;
}
.section>p {
	font-size: 14px;
	color:#999999;
	background: url(../img/line.png) 11px 5px no-repeat;
}
.form-list li {
	margin-top:20px;
}
.form-list li input {
	padding:8px;
	width: 275px;
	background-color: #101010;
	border:1px solid #101010;
	border-bottom: 1px solid #484948;
}
.form-list li input[type = "text"]:focus,
.form-list li input[type = "email"]:focus,
.form-list li input[type = "password"]:focus {
	box-shadow: 0px 0px 5px  4px rgba(78,137,177,0.6);
	border:1px solid #1b5288;
	background-color: #1b5288;
	color:white;
}
.form-list li:nth-child(6) input {
	width: 25px;
	cursor:pointer;
}
.form-list li:nth-child(7) input {
	width: 150px;
	color: white;
	background: linear-gradient(to bottom, rgba(33,180,226,1) 0%, rgba(78,172,218,1) 0%, rgba(46,122,196,1) 99%, rgba(183,222,237,1) 100%);
 	box-shadow: inset #4b9dd6 1px 1px;
 	border:#4b9dd6;
 	cursor:pointer;
}
.policy p {	
	color:#cccccc;
	font-size:12px;
	position:absolute;
	bottom:0px;
	left:130px;
	right:130px;
}