@mixin button ($background-color, $border-color, $font-color, $font-size) {
	background-color: $background-color;
	border: 2px solid $border-color;
	border-radius: 25px;
	cursor: pointer;
	font-family: OpenSans;
	font-size: $font-size;
	color: $font-color;
	outline: none;
}