@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat/MontserratRegular.eot"),
	url("../fonts/Montserrat/MontserratRegular.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/Montserrat/MontserratRegular.woff") format("woff"),
	url("../fonts/Montserrat/MontserratRegular.ttf") format("truetype");

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat/Montserrat-Bold.eot"),
	url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
	url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");

	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Light/Roboto-Light.eot"),
	url("../fonts/Roboto-Light/Roboto-Light.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/Roboto-Light/Roboto-Light.woff") format("woff"),
	url("../fonts/Roboto-Light/Roboto-Light.ttf") format("truetype");

	font-weight: normal;
	font-style: normal;
}