body {
	text-align: center;
	color:white;
	font-family: Tahoma;
}
.wrapper {
	margin:0 auto;
	position:relative;
	background: url('../img/bcg.jpg') no-repeat center center;
	background-size: cover;
	height: 1324.5px;
	width: 1440px;
	overflow: hidden;
}
.container {
	margin: 200px auto;
	width:1350px;
}
.clearfix:after {
	display: block;
        	content: "";
        	clear: both;
}
/*====LOGO====*/
.logo {
	position:relative;
	float:left;
	margin-bottom:20px;
	padding-left: 25px;
}
.logo img[alt="text"] {
	width:390px;
}
.logo img[alt="palm"] {
	position:absolute;
	top:-115px;
	left: 230px;
	z-index: 0;
	opacity: 0.15;
	width:187.5px;
}

/*====CONTACTC====*/
.contacts {
	float:right;
	font-size:16px;
	text-align: left;
}
.contacts span {
	font-size:22px;
}
.contacts li{
	line-height: 1.2em;
}
.contacts a {
	text-decoration: none;
	color:white;
}
/*====GALLERY====*/
.gallery li {
	display:inline-block;
	width:405px;
	margin:0 20px;
}
.gallery img {
	width:405px;

}
.gallery span {
	display: block;
	color:white;
	text-align: center;
	font-size:16px;
}
.first-line {
	margin:12px 0px;
}
/*====FOOTER====*/
footer {
	text-align: center;
	color:white;
	position: absolute;
	font-style: 15px;
	bottom: 25px;
	left:42%;
}