@font-face {
	font-family: 'ubuntu-condensed';
	src: url('../fonts/ubuntu-condensed.ttf') format('ttf'),
	url('../fonts/ubuntu-condensed.woff2') format('woff2'),
	url('../fonts/ubuntu-condensed.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ubuntu-medium';
	src: url('../fonts/ubuntu-medium.ttf') format('ttf'),
	url('../fonts/ubuntu-medium.woff2') format('woff2'),
	url('../fonts/ubuntu-medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
