@font-face {
	font-family: "Cabin";
	src: url("../fonts/Cabin/Cabin-Regular.eot"),
	url("../fonts/Cabin/Cabin-Regular.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/Cabin/Cabin-Regular.woff") format("woff"),
	url("../fonts/Cabin/Cabin-Regular.ttf") format("truetype");

	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Cabin";
	src: url("../fonts/Cabin/Cabin-Medium.eot"),
	url("../fonts/Cabin/Cabin-Medium.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/Cabin/Cabin-Medium.woff") format("woff"),
	url("../fonts/Cabin/Cabin-Medium.ttf") format("truetype");

	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Cabin";
	src: url("../fonts/Cabin/Cabin-SemiBold.eot"),
	url("../fonts/Cabin/Cabin-SemiBold.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/Cabin/Cabin-SemiBold.woff") format("woff"),
	url("../fonts/Cabin/Cabin-SemiBold.ttf") format("truetype");

	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato/lato-light.eot"),
	url("../fonts/Lato/lato-light.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/Lato/lato-light.woff") format("woff"),
	url("../fonts/Lato/lato-light.ttf") format("truetype");

	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato/lato-regular.eot"),
	url("../fonts/Lato/lato-regular.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/Lato/lato-regular.woff") format("woff"),
	url("../fonts/Lato/lato-regular.ttf") format("truetype");

	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "SourceSansPro";
	src: url("../fonts/SourceSansPro/SourceSansPro-light.eot"),
	url("../fonts/SourceSansPro/SourceSansPro-light.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/SourceSansPro/sourcesanspro-light.woff") format("woff"),
	url("../fonts/SourceSansPro/sourcesanspro-light.ttf") format("truetype");

	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "SourceSansPro";
	src: url("../fonts/SourceSansPro/SourceSansPro-regular.eot"),
	url("../fonts/SourceSansPro/SourceSansPro-regular.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/SourceSansPro/sourcesanspro-regular.woff") format("woff"),
	url("../fonts/SourceSansPro/sourcesanspro-regular.ttf") format("truetype");

	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "SourceSansPro";
	src: url("../fonts/SourceSansPro/SourceSansPro-bold.eot"),
	url("../fonts/SourceSansPro/SourceSansPro-bold.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/SourceSansPro/sourcesanspro-bold.woff") format("woff"),
	url("../fonts/SourceSansPro/sourcesanspro-bold.ttf") format("truetype");

	font-weight: 700;
	font-style: normal;
}