$menu-color: 		#fff;
$sub-color:		#d8d8d8;
$accent-color:	#22baa0;
$menu-back-color:	#292933;
$menu-item-color:	#2e2e37;
$sub-menu-color:	#393941;
$aside-color:		#4e5e6a;
$price-color:		#ff809b;
$text-color:		#f7f7f7;
