/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-fa-design {
  background-image: url(sprite.png);
  background-position: -120px 0px;
  width: 46px;
  height: 46px;
}
.icon-fa-dive {
  background-image: url(sprite.png);
  background-position: 0px -33px;
  width: 53px;
  height: 44px;
}
.icon-fa-icloud {
  background-image: url(sprite.png);
  background-position: -120px -46px;
  width: 43px;
  height: 31px;
}
.icon-fa-refinement {
  background-image: url(sprite.png);
  background-position: -53px -33px;
  width: 44px;
  height: 44px;
}
.icon-fa-research {
  background-image: url(sprite.png);
  background-position: 0px -77px;
  width: 45px;
  height: 45px;
}
.icon-round {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 120px;
  height: 33px;
}
