@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans.ttf),
    url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff'); 
   }
   @font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/league-gothic-webfont.eot');
    src: url('../fonts/league-gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league-gothic-webfont.woff2') format('woff2'),
         url('../fonts/league-gothic-webfont.woff') format('woff'),
         url('../fonts/league-gothic-webfont.ttf') format('truetype'),
         url('../fonts/league-gothic-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
    @font-face {
    font-family: OpenSansLight;
    src: url(../fonts/OpenSansLight.ttf),
    url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff'); 
   }
    @font-face {
    font-family: OpenSansExtraBold;
    src: url(../fonts/OpenSansExtraBold.ttf),
    url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff'); 
   }
  @font-face {
    font-family: MyriadProRegular;
    src: url(../fonts/MyriadProRegular.ttf); 
   }